// AMP :: Components :: Message

.amp-viewport .amp-message {
  background-color: $white;

  &__header {
    border-bottom: $border;
    padding: $message-header-padding 0;
  }

  &__details {
    list-style: none;
    margin: 0;
    padding: 0 $message-detail-side-padding;

    li {
      @include clearfix;
    }
  }

  &__detail {
    @include transition(none);
    font-size: $message-detail-font-size;
    line-height: $message-detail-line-height;
    margin: 0;
    padding: 2px 0;

    * {
      @include transition(none);
    }

    dt {
      clear: left;
      color: lighten($color-text-light, 24);
      float: left;
      font-weight: bold;
      overflow: hidden;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: $message-detail-dt-offset;
    }

    dd {
      color: darken($color-text-light, 6);
      margin-left: $message-detail-dd-offset;
    }
  }

  &__body {
    height: $message-body-height;
    position: relative;
  }

  &__content {
    background: $white;
    margin: auto;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    iframe {
      border: none;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}