// AMP :: Components :: Viewport (Tablet)

.amp-viewport--tablet {
  border-radius: $viewport-mobile-border-radius;
  width: $viewport-tablet-width;

  .amp-viewport__header,
  .amp-viewport__footer
  {
    border: none;
    height: $viewport-tablet-header-height;
  }

  .amp-viewport__header {
    &__addon {
      @include transform(translate3d(-50%, -50%, 0));
      box-shadow: none;
      left: 50%;
      margin-left: 0;
    }

    &__speaker {
      @include transform(translate3d(-50%, -50%, 0));
      width: $viewport-tablet-header-speaker-w;
      top: 0;
    }
  }

  .amp-viewport__body {
    padding: 0 8px;
  }

  .amp-viewport__footer__addon {
    @include transform(translate3d(-50%, 50%, 0));
    width: $viewport-tablet-header-speaker-w;
    bottom: 0;
  }

  @include message--mobile($tablet-message-body-height);
}