// AMP :: Components :: Viewport (Mobile)

.amp-viewport--mobile {
  border-radius: 30px;
  width: 340px;

  .amp-viewport__header,
  .amp-viewport__footer
  {
    border: none;
    height: 60px;
  }

  .amp-viewport__header {
    &__addon {
      @include transform(translate3d(-60px, -50%, 0));
      box-shadow: none;
      left: 50%;
    }

    &__speaker {
      top: 50%;
    }
  }

  .amp-viewport__body {
    background-color: #eee;
    padding: 0 8px;
  }

  .amp-viewport__footer__addon {
    bottom: 50%;
  }

  .amp-message {
    border: $border;

    &__header {
      padding: 10px 0;
    }

    &__detail {
      dt {
        width: 60px;
      }

      dd {
        margin-left: 80px;
      }

      &--subject {
        border-top: $border;
        padding-top: 10px;
        margin-top: 5px;

        dt {
          display: none;
        }

        dd {
          margin-left: 0;
        }
      }
    }

    &__body {
      height: 420px;
    }
  }
}