// AMP :: Components :: Viewport

.amp-viewport {
  border: $border;
  border-radius: $border-radius;
  box-shadow: $shadow-1;
  min-height: 300px;
  min-width: 300px;
}

.amp-viewport__header {
  @include border-top-radius($border-radius);
  background-color: #eee;
  border-bottom: $border;
  box-shadow: $shadow-highlight;
  height: 30px;
  position: relative;
  overflow: hidden;
}

.amp-viewport__header__addon {
  @include transform(translate3d(0, -50%, 0));
  background-color: #bbb;
  border-radius: 50%;
  box-shadow: 15px 0px 0px #bbb, 30px 0px 0px #bbb;
  height: 10px;
  margin-left: 15px;
  position: absolute;
  top: 50%;
  width: 10px;
  z-index: 2;
}

.amp-viewport__header__speaker {
  @include transform(translate3d(-50%, -50%, 0));
  background-color: #bbb;
  border-radius: 8px;
  height: 8px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 60px;
}