// AMP :: Components :: Viewport (Mobile)

.amp-viewport--mobile {
  border-radius: 30px;
  max-width: 340px;

  .amp-viewport__header,
  .amp-viewport__footer
   {
    border: none;
    height: 70px;
  }

  .amp-viewport__header__addon {
    @include transform(translate3d(-60px, -50%, 0));
    box-shadow: none;
    left: 50%;
  }

  .amp-viewport__body {
    background-color: #eee;
    padding: 0 10px;
  }



  .amp-message__header {
    display: none;
  }
}