// AMP :: Components :: Viewport (Tablet)

.amp-viewport--tablet {
  border-radius: $viewport-mobile-border-radius;
  width: $viewport-tablet-width;

  .amp-viewport__header,
  .amp-viewport__footer
  {
    border: none;
    height: $viewport-mobile-header-size;
  }

  .amp-viewport__header {
    &__addon {
      @include transform(translate3d(-60px, -50%, 0));
      box-shadow: none;
      left: 50%;
    }

    &__speaker {
      @include transform(translate3d(-50%, -50%, 0));
    }
  }

  .amp-viewport__body {
    padding: 0 8px;
  }

  .amp-viewport__footer__addon {
    @include transform(translate3d(-50%, 50%, 0));
  }

  @include message--mobile();
}