// AMP :: Variables :: Viewport

$viewport-size:         300px;

$viewport-header-height:  30px;
$viewport-header-addon-size:  10px;
$viewport-header-speaker-h:   8px;
$viewport-header-speaker-w:   60px;

$viewport-footer-addon-size:  35px;

$viewport-mobile-border-radius:   30px;
$viewport-mobile-width:           340px;
$viewport-mobile-header-size:     60px;